@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4">Робота з базами даних</h1>
<p>

    БД є <b>локальні</b> (розміщюються а тому ж русурсі та 
    - простіше налаштовується і є більш швидкою, але не дає переносити веб сервер
    або публікувати сайт на сторонньму хостингу.
    <b>віддалені</b> навпаки, єдиним недоліком є швидкість.

</p>
<p>
    В ASP .NET поширена практика роботи з БД засобами EntityFramework

</p>
<ul>
    <li>Microsoft.EntityFrameworkCore ядро фреймворка</li>
     <li>Microsoft.EntityFrameworkCore.Toois засоби для командного рядка</li>
      <li>Pomelo.EntityFrameworkCore.MySql драйвери для роботи з </li>


</ul>


<h2>підключення</h2>

<p>
    Конфігурація. Паролі до віддалених БД не можна передавати у відкриті репозиторії. 


<p/>